<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/products.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pencils</title>
    </head>

    {% include "header.html" %}
    <body>


        <div class="prodtitle-container">
        <div class="prodtitle">Pencils</div>
            </div>


            <div class="product-container">


                 <div id="customAlert" class="custom-alert" style="display: none;">
                                        <p>Product added to basket</p>
                                        <button id="customAlertClose" style="cursor: pointer;">Close</button>
                                    </div>

                <div id="customAlert2" class="custom-alert" style="display: none;">
                                        <p>This Product is already there</p>
                                        <button id="customAlertClose2" style="cursor: pointer;">Close</button>
                                    </div>



            <div class="product">
                <div class="title">graphite pencil<span>in stock</span></div>
                <div class="image"><img src="{% static 'img/pencils/pencil1.jpg' %}"></div>
                <div class="price">Price: 0.1$</div>
                <div class="bot-container">
                <div class="half" onclick="toggleDescription(this)"><span id="description-label">Description</span><svg id="arrow-icon" opacity="0.5" aria-hidden="true" height="13" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-chevron-down HeaderMenu-icon ml-1">
                      <path d="M12.78 5.22a.749.749 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.06 0L3.22 6.28a.749.749 0 1 1 1.06-1.06L8 8.939l3.72-3.719a.749.749 0 0 1 1.06 0Z"></path>
                    </svg></div>

                <div class="half"><span id="addToBasket">To the Basket</span></div>
                </div>
                <div id="description" class="description hidden">
                  material - wood<br>length - 19cm.<br>with rubber band
                </div>
            </div>


            <div class="product">
                <div class="title">flexible pencil<span>in stock</span></div>
                <div class="image"><img src="{% static 'img/pencils/pencil4.jpg' %}"></div>
                <div class="price">Price: 0.3$</div>
                <div class="bot-container">
                <div class="half" onclick="toggleDescription1(this)"><span id="description-label1">Description</span><svg id="arrow-icon1" opacity="0.5" aria-hidden="true" height="13" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-chevron-down HeaderMenu-icon ml-1">
                      <path d="M12.78 5.22a.749.749 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.06 0L3.22 6.28a.749.749 0 1 1 1.06-1.06L8 8.939l3.72-3.719a.749.749 0 0 1 1.06 0Z"></path>
                    </svg></div>
                <div class="half"><span id="addToBasket2">To the Basket</span></div>
                </div>
                <div id="description1" class="description hidden">
                  material - rubber<br>length - 20cm.<br>with rubber band
                </div>
            </div>


            <div class="product">
                <div class="title">metal pencil<span>in stock</span></div>
                <div class="image"><img src="{% static 'img/pencils/pencil3.jpg' %}"></div>
                <div class="price">Price: 5$</div>
                <div class="bot-container">
                <div class="half" onclick="toggleDescription2(this)"><span id="description-label2">Description</span><svg id="arrow-icon2" opacity="0.5" aria-hidden="true" height="13" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-chevron-down HeaderMenu-icon ml-1">
                      <path d="M12.78 5.22a.749.749 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.06 0L3.22 6.28a.749.749 0 1 1 1.06-1.06L8 8.939l3.72-3.719a.749.749 0 0 1 1.06 0Z"></path>
                    </svg></div>
                <div class="half"><span id="addToBasket3">To the Basket</span></div>
                </div>
                <div id="description2" class="description hidden">
                  material - metal<br>length - 17cm.<br>colors - black or white
                </div>
            </div>


            <div class="product">
                <div class="title">pencils of 12 colors<span>in stock</span></div>
                <div class="image"><img src="{% static 'img/pencils/pencil2.jpg' %}"></div>
                <div class="price">Price: 1$</div>
                <div class="bot-container">
                <div class="half" onclick="toggleDescription3(this)"><span id="description-label3">Description</span><svg id="arrow-icon3" opacity="0.5" aria-hidden="true" height="13" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-chevron-down HeaderMenu-icon ml-1">
                      <path d="M12.78 5.22a.749.749 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.06 0L3.22 6.28a.749.749 0 1 1 1.06-1.06L8 8.939l3.72-3.719a.749.749 0 0 1 1.06 0Z"></path>
                    </svg></div>
                <div class="half"><span id="addToBasket4">To the Basket</span></div>
                </div>
                <div id="description3" class="description hidden">
                  material - wood<br>length - 15cm.<br>12 pieces in a package
                </div>
            </div>

            </div>


    {% include "footer.html" %}

    <script src="{% static 'js/pencils.js' %}"></script>
    </body>
</html>