* {
      font-family: 'Poppins', sans-serif;
  }

body {
    background-color: rgb(200,200,200);
}

  .out {
    margin: 255px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-direction: column;
    border: 9px solid rgb(80, 200, 170);
    width: 350px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
  }

.out h1{
    margin-top: 10px;
    color: rgb(255, 60, 66);
  }

 .confirm{
    margin-top: 25px;
    margin-left: 130px;
    cursor: pointer;
    font-size: 18px;
    background-color: white;
    border-radius: 7px;
    transition: color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
}

.confirm:hover{
    color: rgb(255, 60, 66);
    background-color: rgb(80, 200, 170);
}

.form-field{
  margin-left: 38px;
}

.error{
    margin: 0;
    color: #e53935;
}

.error-message {
    color: #e53935;
}

.out input{
    width: 280px;
}


@media screen and (max-width: 968px) {

    .confirm{
        margin-top: 45px;
        color: black;
        border: 1px solid black;
    }


     .out {
        margin: 125px auto;
        height: 345px;
        width: 285px;
        padding: 0;
    }

    h1{
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .out input{
        width: 215px;
    }
}
