<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/successPayment.css' %}">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Success</title>
    </head>
<body>
<div class="colored">
    <h1>Success!</h1>
    <p>Your payment was successful.</p>
</div>

<script src="{% static 'js/successPayment.js' %}"></script>
</body>
</html>