{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'css/registration/activate_info.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Activation email</title>
<div class="colored">
<h1>We have sent you activation email.</h1>
<p>Go to your email address and follow the description</p>
</div>