<!-- password_reset.html -->
{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/registration/password_reset.css' %}">
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Password reset</title>
<div class="center">
<h1>Reset Password</h1>
  <p>Forgotten your password? Enter your e-mail address below, and we will send you an e-mail that will allow you to reset it.</p>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <a class="homepage" href="{% url 'home' %}">Home</a>
  <button class="reset" type="submit">Reset</button>
</form>
</div>