{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/registration/password_confirm.css' %}">
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Set new password</title>
<div class="out">
<h1>Password Reset</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-field">
{% if form.new_password1.errors and form.new_password1.errors.0 == "This field is required." %}
    <p class="error">Fill out both fields.</p>

{% elif form.new_password2.errors and form.new_password2.errors.0 == "This field is required." %}
    <p class="error">Fill out both fields.</p>

{% else %}
    {% for error in form.new_password2.errors.as_data %}
        {% if error.code == 'password_mismatch' %}
            <p class="error">Passwords didn't match.</p>
        {% elif error.code == 'password_too_short' %}
            <p class="error">Password too short.</p>
        {% elif error.code == 'password_too_common' %}
            <p class="error">Password too common.</p>
        {% endif %}
    {% endfor %}
{% endif %}
    <label>New Password:</label>
    {{ form.new_password1 }}
  </div>
  <div class="form-field">
    <label>Confirm New Password:</label>
    {{ form.new_password2 }}
  </div>
  <button class="confirm" type="submit">Confirm</button>
</form>
</div>