{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'css/registration/password_complete.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Reset done</title>
<div class="colored">
<h1>Password Reset Successful</h1>
<p>Your password has been successfully reset. You can now <a href="{% url 'login' %}">Log in</a> with your new password.</p>
</div>
