{% load static %}
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/registration/password_done.css' %}">
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Reset password</title>
<div class="colored">
<h1>Password Reset Email Sent!</h1>
<p>An email has been sent to your registered email address. Please follow the instructions provided in the email to reset your password.</p>
</div>